body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: antiquewhite;
}
.body{
    width: 411px;
    height: 823px;
    background-color: #FAFAFA;
    font-family: sans-serif;
}

.nav{
    height: 143px;
    background-color: #E6E9F6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav div{
    width: 343px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-head{
    height: 36px;
}

.nav input{
    height: 50px;
    border: 1px solid #E8E8E8;
    background-color: #F6F6F6;
    border-radius: 30px;
    width: 100%;
    font-size: 16px;
    padding-left: 4%;


}
.nav .black{
    font-size: 18px;
    padding-left: 4%;
    font-weight: 600;
    line-height: 22px;
    font-family: sans-serif;
}

.nav .green{
    color: #5DB075;
    font-size: 16px;
}

.main{
    height: 589px;
    background-color: white;
    /* border: 2px solid black; */
    overflow-y: scroll;

}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    
}

.nav-item{
    width: 32px;
    height: 32px;
    background-color: #E8E8E8;
    margin: 15px 23px;
    border-radius: 50%;
}



.nav-item .active{
    background-color: #5DB075;
}

ul{
    list-style: none;
    padding-top: 5%;
}

li{
    
}

